use Mix.Config

config :auction, Auction.Repo, [
  database: "auction",
  username: "postgres",
  password: "XXXXXXXXXXXXXXX",
  hostname: "localhost",
  port: 5432
]

config :auction, sfdc_credentials: %{
  :login_path => "https://login.salesforce.com",
  :username => "XXXXXXXXXXXXXXX",
  :password => "XXXXXXXXXXXXXXX",
  :security_token => "XXXXXXXXXXXXXXX",
  :client_id => "XXXXXXXXXXXXXXX",
  :client_secret => "XXXXXXXXXXXXXXX"
}

