use Mix.Config

config :auction, sfdc_credentials: %{
  :login_path => "https://login.salesforce.com",
  :username => "XXXXXXXXXXXXXXX",
  :password => "XXXXXXXXXXXXXXX",
  :security_token => "XXXXXXXXXXXXXXX",
  :client_id => "XXXXXXXXXXXXXXX",
  :client_secret => "XXXXXXXXXXXXXXX"
}


